.textOverflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}

.textOverflowMulti(@line: 3, @bg: #fff) {
  overflow: hidden;
  position: relative;
  line-height: 1.5em;
  max-height: @line * 1.5em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    background: @bg;
    content: '...';
    padding: 0 1px;
    position: absolute;
    right: 14px;
    bottom: 0;
  }
  &:after {
    background: white;
    content: '';
    margin-top: 0.2em;
    position: absolute;
    right: 14px;
    width: 1em;
    height: 1em;
  }
}

// mixins for clearfix
// ------------------------
.clearfix() {
  zoom: 1;
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
  }
}

.paginationAll {
  height: 60px;
  line-height: 60px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  :global {
    .ant-pagination-total-text {
      flex: 1;
    }
  }
}
.containerBody {
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hFull{height: 100%}
.wFull{width: 100%}
.ml10 {margin-left: 10px;}
.mt10 {margin-top: 10px;}
.mr10 {margin-right: 10px;}
.bgWhite{background-color: white}
