@import "~antd/lib/style/themes/default.less";
@import "../../utils/utils.less";

.main {
  .containerBody;
}
.radio {
  width: 100%;
  :global {
    .ant-radio-wrapper {
      margin-top: 10px;
      margin-right: 0;
      width: 50%;
    }
  }
}
.pagination {
  .paginationAll;
}

.addMemberForm {
  display: flex;
  flex-wrap: wrap;
  :global {
    .ant-row {
      width: 50%;
      padding: 0 30px;
      display: flex;
    }
    .ant-row:last-child{
      width: 100%;
    }
    .ant-form-item-label {
      text-align: left;
    }
    .ant-col-sm-8 {
      width: 90px;
    }
    .ant-col-sm-16 {
      flex: 1;
    }
    .ant-radio-wrapper {
      width: 20%;
    }
  }
}

.tableContainer {
  background-color: white;
  border: 1px solid #efefef;
  border-radius: 10px;
  flex: 1;
  overflow: hidden;
  .mt10;
}

.table {
  .bgWhite;
  :global {
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
      padding: 16px 0;
      text-align: center;
    }
    .ant-table-thead > tr > th:nth-child(1),
    .ant-table-tbody > tr > td:nth-child(1) {
      width: 5%;
    }
    .ant-table-thead > tr > th:nth-child(2),
    .ant-table-tbody > tr > td:nth-child(2) {
      width: 10%;
    }
    .ant-table-thead > tr > th:nth-child(3),
    .ant-table-tbody > tr > td:nth-child(3) {
      width: 10%;
    }
    .ant-table-thead > tr > th:nth-child(4),
    .ant-table-tbody > tr > td:nth-child(4) {
      width: 5%;
    }
    .ant-table-thead > tr > th:nth-child(5),
    .ant-table-tbody > tr > td:nth-child(5) {
      width: 17%;
    }
    .ant-table-thead > tr > th:nth-child(6),
    .ant-table-tbody > tr > td:nth-child(6) {
      width: 10%;
    }
    .ant-table-thead > tr > th:nth-child(7),
    .ant-table-tbody > tr > td:nth-child(7) {
      width: 10%;
    }
    .ant-table-thead > tr > th:nth-child(8),
    .ant-table-tbody > tr > td:nth-child(8) {
      width: 13%;
    }
    .ant-table-thead > tr > th:nth-child(9),
    .ant-table-tbody > tr > td:nth-child(9) {
      width: 10%;
    }
  }
}

.button{
  .ml10;
}
